.container{
    display: flex;
    gap: 10px;
    position: fixed;
    z-index: 1000;
    right: 2%;
    bottom: 5%;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    background: rgba(240, 240, 240, 0.5);
    padding: 10px 20px;
}

.btn{
    border: none;
    background: #333;
    color:#fefefe;
    padding:5px 20px;
    border-radius: 3px;
}
